li {
	list-style: none;
}

ul.li-50 li span {
	width: 30%;
	display: inline-block;
}

ul.li-50 li h3 {
	width: 69%;
	display: inline-block;
}

ul.li-50 li h5 {
	width: 68%;
	display: inline-block;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
	border-radius: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	border-radius: 25px;
}